.search-bar {
  position: relative;

  &__input {
    display: flex;
    position: relative;
    align-items: center;

    width: 40rem;
    margin: 0 auto;

    input {
      width: 100%;
      padding-right: 4rem;
      background: none;
    }

    span {
      position: absolute;
      right: 0.8rem;
      cursor: pointer;
      color: #424242;
      scale: (1);
      transition: 100ms ease;
      user-select: none;

      &:active {
        scale: (0.9);
      }
    }
  }

  &__results {
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-sizing: border-box;

    width: 100%;
    height: auto;
    max-height: 400px;

    margin-top: 1rem;
    padding: 0.8rem;

    background: white;
    border: 1px solid #bdbdbd;
    border-radius: 0.8rem;
    box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);

    a {
      display: flex;
      justify-content: space-between;

      padding: 0.8rem 1.6rem;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        color: unset !important;
        border-radius: 0.8rem;
      }
    }
  }

}

